.post-header {
  margin-bottom: 0.5rem;

  .post-title {
    margin: 0;
    font-size: $post-title-font-size;
    font-weight: $post-title-font-weight;
    font-family: $global-serif-font-family;
    color: #455A64
  }

  .post-link {
    @include underline-from-center;
  }

  .post-meta {
    font-size: 14px;
    color: $post-meta-font-color;

    .post-time {
      font-size: 15px;
      font-style: italic;
      padding-right: 4px;

      .post-author {
        text-decoration: underline;
      }
    }

    .post-category {
      display: inline;
      font-size: 15px;    
      border: 1px solid #9b9b9b;
      border-radius: 25px;
      padding: 5px 5px 5px 8px;
      margin-left: 4px;

      a {
        color: inherit;

        &:hover {
          color: $theme-color;
        }

      }
    }

    .clock {
      vertical-align: middle;
      padding-bottom: 4px;
      padding-left: 4px;
      padding-right: 4px;
    }

    .more-meta {
      &::before {
        content: '|';
        font-size: 18px;
      }

      &::after {
        content: '|';
        font-size: 18px;
        padding-left: 4px;
      }
    }
  }
}

.post-thumbnail {
  width: 4.25rem;
  height: 4.25rem;
  margin-right: 0.5rem;
  border-color: #455a64;
  border: solid 0.5px;
}

@include max-screen() {
  .post-thumbnail {
    display: none;
  }
}
