<div class='container custom-nav'>
  <header class='custom-nav-header'>
    <span class='header-item logo site-navbar'>
      <ul class="social-icons">
        <a class="profile" href="https://manisuec.com" rel="nofollow" target="_blank" aria-label="profile image" title="profile website">
          <img src="/img/profile.jpg" alt="profile image" title="profile image" class="img-fluid rounded-circle">
        </a>
        <span class="social-icon-item"><a href="//twitter.com/lifeClicks25" rel="nofollow" target="_blank" class="twitter" title="twitter profile" aria-label="twitter profile"><i class="fa-brands fa-square-twitter fa-slide" aria-hidden="true"></i></a></span>
        <span class="social-icon-item"><a href="//github.com/manisuec" rel="nofollow" target="_blank" class="github" title="github profile" aria-label="github profile"><i class="fa-brands fa-github" aria-hidden="true"></i></a></span>
        <span class="social-icon-item"><a href="//linkedin.com/in/manish-prasad-64448614/" rel="nofollow" target="_blank" class="linkedin" title="linkedin profile" aria-label="linkedin profile"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></span>
      </ul>
      <ul class="header-detail">
        <h1 class="header-detail-title">Tech Insights: Personal Tech Blog</h1>
      </ul>
      <ul id="menu" class="menu">
        {{ range .Site.Menus.main -}}
        <li class="menu-item">
          <a class="menu-item-link" href="{{ .URL | safeURL }}" title="{{ .Name }}">{{ .Name }}</a>
        </li>
        {{- end }}
      </ul>
    </span>
  </header>
  <div>
    <nav class='vertical-align-middle scroll'>
      <span class='nav-item'><a href="/" title="home page"><i class="fa fa-home home-icon"></i></a></span>
      <span class='nav-item menu-item-link'><a class="nav-item-link" href="{{ .Site.BaseURL }}post/" title="all topics">All Topics</a></span>
      {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
        <span class='nav-item menu-item-link'><a class="nav-item-link" href="{{.Permalink}}" titl="{{ .Title }}">{{.Title}}</a></span>
      {{end}} 
    </nav>
  </div>
</div>
