{{ $pageurl := .Permalink | absLangURL }}
{{ $title := .Title }}

<style>
  #share-buttons {
    display: inline-flex; 
    vertical-align: top;
    padding-left: 4px;
    margin-top: -8px;
  }
  #share-buttons > div {
    padding: 4px;;
    position: relative;
    height: 18px; 
    width: 18px; 
    float: left; 
    text-align: center;
    font-size: 0.75rem;
  }
  #share-buttons > div > svg {height: 20px; fill: #0077b5; margin-top: 10px;}
  #share-buttons > div:hover {cursor: pointer;}
  #share-buttons > div.twitter:hover > svg {fill: #55ACEE;}
  #share-buttons > div.linkedin:hover > svg {fill: #0077b5;}
  #share-item {
    font-size: 1.2rem;
    vertical-align: bottom;
    padding: 4px;
  }
</style>
<div id="share-buttons">
  <span id="share-item"><a href="https://twitter.com/share?url={{ $pageurl }}&text={{ $title }}&hashtags=tech,blog,techinsights&via=_manish25" rel="nofollow" target="_blank" class="twitter"><i class="fa fa-twitter fa-slide" aria-hidden="true"></i></a></span>
  <span id="share-item"><a href="https://linkedin.com/shareArticle?mini=true&url={{ $pageurl }}&title={{ $title }}" rel="nofollow" target="_blank" class="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
</div>