<div id="mobile-navbar" class="mobile-navbar">
  <div class="mobile-header-logo">
    <a href="{{ "/" | relLangURL }}" class="logo" title="home page">
      {{- if .Site.Params.logoTitle -}}
      {{ .Site.Params.logoTitle }}
      {{- else -}}
      {{ .Site.Title }}
      {{- end -}}
    </a>
    <ul class="social-icons">
      <a class="profile" href="https://manisuec.com" rel="nofollow" target="_blank" aria-label="profile image" title="profile website"> 
        <img src="/img/profile.jpg" alt="profile image" title="profile image" class="img-fluid rounded-circle">
      </a>
      <span class="social-icon-item"><a href="//twitter.com/lifeClicks25" rel="nofollow" target="_blank" class="twitter" title="twitter profile" aria-label="twitter profile"><i class="fa-brands fa-square-twitter fa-slide" aria-hidden="true"></i></a></span>
      <span class="social-icon-item"><a href="//github.com/manisuec" rel="nofollow" target="_blank" class="github" title="github profile" aria-label="github profile"><i class="fa-brands fa-github" aria-hidden="true"></i></a></span>
      <span class="social-icon-item"><a href="//linkedin.com/in/manish-prasad-64448614/" rel="nofollow" target="_blank" class="linkedin" title="linkedin profile" aria-label="linkedin profile"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></span>
      <span class="social-icon-item"><a href="/about/" title="about me" aria-label="about me"><i class="fa fa-user fa-slide" aria-hidden="true"></i></a></span>
    </ul>
    </div>
    <!-- <div class="mobile-navbar-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <nav id="mobile-menu" class="mobile-menu slideout-menu">
    <ul class="mobile-menu-list">
      {{ range .Site.Menus.main -}}
        <a href="{{ .URL | safeURL }}">
          <li class="mobile-menu-item">{{ .Name }}</li>
        </a>
      {{- end }}
    </ul>
  </nav> -->
</div>
